.button {
    flex: 1;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
}

.button_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    height: 100%;
}