.header {





}

.whiteHeader{

    display: flex;
    justify-content: space-between;
    height: 42px;
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;



}

.wraper{

}

.logo{

    width: 102px;
    height: 42px;
}
.heart{
    display: inline-block;
    width: 20px;
    height: 19px;
}

.right{


    display: inline-block;
    text-align: left;
    width: 300px;

}

.buttonSell{
    cursor: pointer;
    margin-right: 10px;

    display: inline-block;
    height: 31px;
    width: 131px;
    outline: none;


    background: #349A89;
    border-radius: 4px;
    border-color: #349A89;
    border-bottom-style: none;
    border-right-style: none;
}

.textInButton{

    left: 74.03%;
    right: 23.54%;
    top: 1px;

    font-family: Helvetica;
    font-size: 80%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.login{
    margin-right: 10px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}