.container {
    display: flex;
    justify-content: center;
    height: 50.17px;
    margin-bottom: 20px ;
}

.searchInput {
    width: 467px;
    display: flex;
}

.locationInput {
    display: flex;
    width: 198px;
    margin-left: 7px;     
}
.searchButton {
    width: 178px;
    display: flex;
    margin-left: 7px;
}